<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Database"/>
  </extensions>

  <targets>
    <target name="database" xsi:type="Database"
            connectionString="${configsetting:ConnectionStrings.DefaultConnection}"
            commandText="
              INSERT INTO AuditLogs (
                TimeStamp, Level, UserName, Message, MachineName, Logger
              ) VALUES (
                @TimeStamp, @Level, @UserName, @Message, @MachineName, @Logger
              );">

      <parameter name="@TimeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Level" layout="${level:uppercase=true}" />
      <parameter name="@UserName" layout="${aspnet-user-identity:whenEmpty=Unauthenticated}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logger" layout="${logger}" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="blackhole" final="true" />
    <logger name="System.*" minlevel="Warn" writeTo="blackhole" final="true" />
    <logger name="Template.*" minlevel="Info" writeTo="database" final="true" />
  </rules>
</nlog>