<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Database"/>
  </extensions>

  <targets>
    <target name="database" xsi:type="Database"
            connectionString="${configsetting:ConnectionStrings.DefaultConnection}"
            commandText="
              INSERT INTO AuditLogs (
                TimeStamp, Level, UserName, Message, MachineName, Logger
              ) VALUES (
                @TimeStamp, @Level, @UserName, @Message, @MachineName, @Logger
              );">

      <parameter name="@TimeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Level" layout="${level:uppercase=true}" />
      <parameter name="@UserName" layout="${aspnet-user-identity:whenEmpty=Unauthenticated}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logger" layout="${logger}" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="blackhole" final="true" />
    <logger name="System.*" minlevel="Warn" writeTo="blackhole" final="true" />
    <logger name="Template.*" minlevel="Info" writeTo="database" final="true" />
  </rules>
</nlog>-->


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- Null Target for filtering -->
		<target name="blackhole" xsi:type="Null" />

		<!-- SQL Database Target -->
		<target name="database" xsi:type="Database"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
            commandText="
              INSERT INTO AuditLogs (
                LogEntryId,
                Username,
                OperationPerformed,
                ActionDetails,
                CreatedDate,
                UserId
              ) VALUES (
                @LogEntryId,
                @Username,
                @OperationPerformed,
                @ActionDetails,
                @CreatedDate,
                '00000000-0000-0000-0000-000000000000'
              );">
			<!-- Generates a unique GUID string for LogEntryId -->
			<parameter name="@LogEntryId" layout="${guid}" />

			<!-- User details -->
			<parameter name="@Username" layout="${aspnet-user-identity:whenEmpty=Anonymous}" />

			<!-- Map NLog Logger/Message into entity columns -->
			<parameter name="@OperationPerformed" layout="${logger}" />
			<parameter name="@ActionDetails" layout="${message}" />

			<!-- Inherited from AuditableEntity / Base Entity -->
			<parameter name="@CreatedDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
		</target>
	</targets>

	<rules>
		<!-- Ignore low-level framework logs -->
		<logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true" />
		<logger name="System.*" minlevel="Info" writeTo="blackhole" final="true" />

		<!-- Route all application (Template.*) logs to database -->
		<logger name="Template.*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>